        <footer id="contact" class="section">
        <div class="ui conatiner grid">
            <div id="conatactParagraph" class="16 wide column center aligned">
                <h3 class="header ui medium">Contact Me</h3>
                <p>If you want to get in touch with me about anything, or even to just say hi. <br>
                Send me an email to <a href="mailto:taliesin.bowes@hotmail.co.uk">taliesin.bowes@hotmail.co.uk</a></p>
                <p>
                    Or get social with me: <br>
                    <a href="https://www.facebook.com/taliesin.deangelibunkheila" target="_blank"><i class="icon facebook square"></i></a>
                    <a href="https://github.com/talieScript" target="_blank"><i class="icon github"></i></a>
                    <a href="https://codepen.io/taliesin-bowes-de-angeli/" target="_blank"><i class="fab fa-codepen"></i></a>
                </p>
            </div>
        </div>
        </footer>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superslides/0.6.2/jquery.superslides.min.js">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <script src="/scripts/libs/owl.carousel.min.js"></script>
        <script src="/scripts/libs/jquery.easypiechart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script type="text/javascript" src="/scripts/main.js">
        </script>
    </body>
</html>