<div id="nav" class="ui labeled icon three item menu">
    <a href="#about" class="item inverted">
      <i class="user circle outline icon"></i>
      Profile
    </a>
    <a href="#skills" class="item">
      <i class="fas fa-code icon"></i>
      Skills
    </a>
    <a href="#portfolio" class="item">
      <i class="paper plane outline icon"></i>
      Potifolio/<br>Contact
    </a>
</div>