<section class="ui container">
    <div id="about" class="segemnt section">
        <h2 class="ui header huge aligned center sectionHeader">About Me</h2>
        <img class="ui floated medium right image rounded" src="/images/me.jpg">
        <p></p>
        <p>I have always been interested in coding but only recently decided to give it a try. So far I have completely fallen in love with web development. <br> After traveling for a year and a half, I decided to come back to England and study it.</p>
        <p>Now here I am 6 months later and hoping to make a career out of something that I really enjoy doing. <br>Please consider me for any projects or junior positions, as I am really eger to learn new skills & improve on what I have already learnt.</p>
        <p>Currently around the London/South East Coast of England. But I dont have any dependencies and for the right position willing to move.<br>
        Thankyou for visiting my site any feedback will be greatly appritiated.</p>
    </div>
</section>