<section class="ui container">
    <div id="about" class="segemnt section">
        <h2 class="ui header huge aligned center sectionHeader">About Me</h2>
        <img class="ui floated medium right image rounded" src="/images/me.jpg">
        <p></p>
        <p>Hello,<br>
        My name is <strong>Taliesin</strong> I’m an aspiring <strong>Web Developer</strong> currently living around the <strong>South East coast/London</strong> area.</p>
        <p>Being <strong>self-taught</strong>, I’ve been studying via courses on <a href="https://www.udemy.com/" target=”_blank”>udemy.com</a> and by coding every day on my own side projects.</p>
        <p>I am very eager to use what I already know and learn new skills, in a <strong>Junior Web Developer</strong> position.</p>
        <p>Soft skills include creativity, sociability, team-working and reliability. Plus generally a very friendly and happy person.</p>
        <p>I would also like to mention a couple of minor skills not mentioned below: 
        git/GitHub, SEO, php, Wordpress & using api’s</p>
    </div>
</section>