<section id="portfolio" class="section">
    <div class="">
        <h2 class="ui header huge aligned center sectionHeader">Portfolio</h2>
        <h3 class="ui header medium aligned center portifolio-headings">Full Sites</h3>
        <div class="ui special cards centered">
            <div class="card card1">
                <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center cardIcons">
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-js"></i>
                                <i class="fab fa-css3-alt"></i>
                                <i class="fab fa-wordpress"></i>
                                <i class="fab fa-php"></i>
                            </div>
                        </div>
                    </div>
                    <img src="/images/nifty.png">
                </div>
                <div class="content">
                    <a href="http://www.niftygallery.com/" class="header" target="_blank" title="Go to Nifty Gallery">Nifty Gallery</a>
                    <div class="description">
                        <p>Paid full scale project for a local art gallery. <br> I used <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong> & <strong>php</strong>, then I converted it to a <strong>Wordpress</strong> theme for the CMS.</p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="meta">
                        <span class="date">October 2018</span>
                    </div>
                </div>
            </div>

            <div class="card card2">
                <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center cardIcons">
                                <i class="fab fa-js"></i>
                                <i class="fab fa-node-js"></i>
                            </div>
                        </div>
                    </div>
                    <img src="/images/crypto_bot.jpg">
                </div>
                <div class="content">
                    <a href="#" class="header" target="_blank" title="Still in review">Crypto Bot</a>
                    <div class="description">
                        <p>
                            This is a crypto currency price checker chat bot, on Facebook messanger.
                             I used the Facebook messager api, a crypto currency price checker rest api and <strong>Node</strong> w/ <strong>Express</strong>.
                        </p>
                        <p>
                            Just ask it what currency you would like to know and it will reply to you wth the latest price. <br>
                            <span class="red-text">Currently still under review from Facebook.</span>
                        </p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="meta">
                        <span class="date">march 2019</span>
                    </div>
                </div>
            </div>

            <div class="card card3">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center cardIcons">
                                <i class="fab fa-node-js"></i>
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-js"></i>
                                <i class="fab fa-css3-alt"></i>
                            </div>
                        </div>
                    </div>
                    <img src="images/thisSite.png">
                    </div>
                    <div class="content">
                        <a class="header" title="You're already here silly billy">This Site</a>
                        <div class="description">
                            <p>
                                This site is built with <strong>node</strong> and hosted on heroku. <br>
                                I used <strong>semantic ui</strong> css framework, plus a number of <strong>JavaScript libaries</strong>.
                            </p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="meta">
                            <span class="date">January 2019</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- ============= mini prodjects ============ -->
            <h3 class="ui header medium aligned center portifolio-headings">Mini Prodjects</h3>
            <div class="ui special cards centered">

                <div class="card card1">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                        <div class="content">
                            <div class="center cardIcons">
                                    <i class="fab fa-html5"></i>
                                    <i class="fab fa-js"></i>
                                    <i class="fab fa-css3-alt"></i>
                                </div>
                            </div>
                        </div>
                        <img src="/images/RGB.png">
                    </div>
                    <div class="content">
                        <a href="/rgb_game" class="header" title="Try me on site!">RGB Game</a>
                        <div class="description">
                            <p>A rgb colour game that I made it conjuction with my web developer course on Udemy. </p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="meta">
                            <span class="date">August 2018</span>
                        </div>
                    </div>
                </div>

                <div class="card card2">
                    <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center cardIcons">
                                    <i class="fab fa-html5"></i>
                                    <i class="fab fa-js"></i>
                                    <i class="fab fa-css3-alt"></i>
                                </div>
                            </div>
                        </div>
                        <img src="/images/calculator.png">
                    </div>
                    <div class="content">
                        <a href="/calculator" class="header" title="Try me on site!">Iphone Calculator Clone</a>
                        <div class="description">
                            <p>This a slightly modified iphone calculator clone, using only vinilla JS.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="meta">
                            <span class="date">March 2019</span>
                        </div>
                    </div>
                </div>
                
                <div class="card card3">
                    <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center cardIcons">
                                    <i class="fab fa-html5"></i>
                                    <i class="fab fa-js"></i>
                                    <i class="fab fa-css3-alt"></i>
                                </div>
                            </div>
                        </div>
                        <img src="/images/case_converter.png">
                    </div>
                    <div class="content">
                        <a href="/case_converter" class="header" title="Try me on site!">Case Converter tool</a>
                        <div class="description">
                            <p>This will convert between camel, snake and kebab case using <strong>JavaScript</strong>. Its my own idea not a clone.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="meta">
                            <span class="date">March 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
</section>

