<section id="portfolio" class="section">
    <div class="">
        <h2 class="ui header huge aligned center sectionHeader">Portfolio</h2>
        <div class="ui special cards centered">
            <div class="card card1">
                <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center cardIcons">
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-js"></i>
                                <i class="fab fa-css3-alt"></i>
                                <i class="fab fa-wordpress"></i>
                                <i class="fab fa-php"></i>
                            </div>
                        </div>
                    </div>
                    <img src="/images/nifty.png">
                </div>
                <div class="content">
                    <a href="http://www.niftygallery.com/" class="header" target="_blank" title="Go to Nifty Gallery">Nifty Gallery</a>
                    <div class="description">
                        <p>Paid full scale project for a local art gallery. <br> I used HTML, CSS, JS & php, then Wordpress for the CMS.</p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="meta">
                        <span class="date">Created 02/10/2018</span>
                    </div>
                </div>
            </div>
            
            <div class="card card2">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                    <div class="content">
                        <div class="center cardIcons">
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-js"></i>
                                <i class="fab fa-css3-alt"></i>
                            </div>
                        </div>
                    </div>
                        <img src="/images/RGB.png">
                    </div>
                    <div class="content">
                        <a href="https://codepen.io/taliesin-bowes-de-angeli/pen/eLYwbw" class="header" title="Check Out on Codpen" target="_blank">RGB Game</a>
                        <div class="description">
                            <p>A cool colour game that I made it conjuction with my web developer course on Udemy.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="meta">
                            <span class="date">Created 10/08/2018</span>
                        </div>
                    </div>
                </div>

                <div class="card card3">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center cardIcons">
                                    <i class="fab fa-node-js"></i>
                                    <i class="fab fa-html5"></i>
                                    <i class="fab fa-js"></i>
                                    <i class="fab fa-css3-alt"></i>
                                </div>
                                </div>
                            </div>
                            <img src="images/thisSite.png">
                        </div>
                        <div class="content">
                            <a class="header" title="You're already here silly billy">This Site</a>
                        <div class="description">
                            <p>Is it cheating puttin this here? Maybe, thats up to you to decide dear user. 😉 <br> 
                            But I used many of my fundamental skills here.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="meta">
                            <span class="date">Created 15/01/2019</span>
                        </div>
                    </div>
                </div>

                <div class="card card4">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center cardIcons">
                                    <i class="fab fa-angular"></i>
                                    <i class="fab fa-node-js"></i>
                                    <i class="fab fa-html5"></i>
                                    <i class="fab fa-js"></i>
                                    <i class="fab fa-css3-alt"></i>
                                </div>
                            </div>
                        </div>
                        <img src="/images/questionMark.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Coming Soon!</a>
                        <div class="meta">
                            <p>Always working on new project deas, once I have them online I will add them here & <a target="_blank" href="https://github.com/talieScript">GitHub</a>.</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="date">Coming 2019</span>
                    </div>
                </div>
            </div>
        </div>   
</section>

<footer id="contact" class="section">
    <div class="ui conatiner grid">
        <div id="conatactParagraph" class="16 wide column center aligned">
            <h3 class="header ui medium">Contact Me</h3>
            <p>If you want to get in touch with me about anything, or even to just say hi. <br>
            Send me an email to <a href="mailto:taliesin.bowes@hotmail.co.uk">taliesin.bowes@hotmail.co.uk</a></p>
            <p>
                Or get social with me: <br>
                <a href="https://www.facebook.com/taliesin.deangelibunkheila" target="_blank"><i class="icon facebook square"></i></a>
                <a href="https://github.com/talieScript" target="_blank"><i class="icon github"></i></a>
                <a href="https://codepen.io/taliesin-bowes-de-angeli/" target="_blank"><i class="fab fa-codepen"></i></a>
            </p>
        </div>
    </div>
</footer>

