<section id="skills" class="section">
    <div id="skillHeader" class="ui conatiner grid">
        <div id="over1" class="16 wide column center aligned">
            <h2 class="ui header huge aligned center sectionHeader">Technical Skills</h2>
            <p>
            This is a represntation of how confident I feel with each framwork/language I've used.<br>
            I am respresinting 100% as being able to complete any task perfectly with such skill and 0% not being completly cluless.
            </p>
            <p>Basically:</p>
            <p>100% = <img class="skillIcon" src="images/guru.png" alt="" > 0% = <img class="skillIcon" src="images/daydream.png" alt="" > </p>
        </div>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="skill">
            <span class="chart" data-percent="65">
                <span class="percent">65</span>
                <canvas height="152" width="152" id=""></canvas>
            </span>
            <h4  class="ui header medium skillHeader">JavaScript</h4>
            <p>I feel I have intermediate skill, with basic knowledge of OOP and constructors.</p>
        </div>
        <div class="skill">
            <span class="chart" data-percent="90">
                <span class="percent">90</span>
                <canvas height="152" width="152" id=""></canvas>
            </span>
            <h4 class="ui header medium skillHeader">HTML5</h4>
            <p>I know all the essentials and how to structure a page for basic SEO.</p>
        </div>
        <div class="skill">
            <span class="chart" data-percent="50">
                <span class="percent">50</span>
                <canvas height="152" width="152" id=""></canvas>
            </span>
            <h4 class="ui header medium skillHeader">CSS/SCSS</h4>
            <p>I know all the basics but want to improve.</p>
        </div>
        <div class="skill">
            <span class="chart" data-percent="75">
                <span class="percent">75</span>
                <canvas height="152" width="152" id=""></canvas>
            </span>
            <h4 class="ui header medium skillHeader">Node/Express</h4>
            <p>I know how to build a full scale applications with logins, comments, blog posts etc.</p>
        </div>
        <div class="skill">
            <span class="chart" data-percent="60">
                <span class="percent"></span>
                <canvas height="152" width="152" id="">60</canvas>
            </span>
            <h4 class="ui header medium skillHeader">MongoDB/Mongoose</h4>
            <p>Very confident with mongoDB but sure there is more to learn.</p>
        </div>
        <div class="skill">
            <span class="chart" data-percent="80">
                <span class="percent"></span>
                <canvas height="152" width="152" id="">80</canvas>
            </span>
            <h4 class="ui header medium skillHeader">Bootstrap 4 </h4>
            <p>Feel very confident using bootstrap 4 + other css libraries</p>
        </div>
        <div class="skill">
            <span class="chart" data-percent="15">
                <span class="percent"></span>
                <canvas height="152" width="152" id="">15</canvas>
            </span>
            <h4 class="ui header medium skillHeader">Angular</h4>
            <p>I have just started to learn the basics but have a good idea of what it can do.</p>
        </div>
        <div class="skill">
            <span class="chart" data-percent="15">
                <span class="percent"></span>
                <canvas height="152" width="152" id="">15</canvas>
            </span>
            <h4 class="ui header medium skillHeader">TypeScript</h4>
            <p>Just basic knowledge but so far enjoy working with it and understand the advatages over JS.</p>
        </div>
    </div>
</section>