<% include ./partials/header %>

<header id="slides">
    <div class="overlay"></div>
    <div class="slides-container">
        <img src="/images/slider1.jpeg" alt="generic 'tech image">
        <img src="/images/slider2.jpeg" alt="generic 'tech image">
        <img src="/images/slider3.jpg" alt="generic 'tech image">
        <img src="/images/slider4.jpg" alt="generic 'tech image">
        <img src="/images/slider5.jpg" alt="generic 'tech image">
    </div>
    <div class="titleMessage">
        <div class="heading">
            <p class="main typed"></p>
        </div>
    </div>
</header> 

<aside>
   <% include ./partials/nav %> 
</aside>

<% include ./sections/about %>

<% include ./sections/skills %>

<% include ./sections/portfolio %>

<% include ./partials/footer %>