<div class="card">
    <!-- front of card -->
    <div class="card__side card__side--front">
        <!-- front img -->
        <img class="card__img" src="./images/project/crypto_bot.jpg" alt="Taliesin' rgb colour game">

        <h4 class="card__name card__name--front">RGB Color Game</h4>
    </div>

    <!-- Back of card -->
    <div class="card__side card__side--back">
        <h4 class="card__name card__name--back">RGB Color Game</h4>
        <p class="card__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, id. Quo quisquam, provident eum error molestiae veniam tempore quasi quas</p>
        
        <a class="card__btn-live card__btn-live--disabled">See Live &rarr;</a>
        <label class="card__label" for="card__btn">Currenctly not hosted online &otimes;</label>
    </div>
</div>