:root {
  --color-primary: #1f1d2c;
  --color-primary-dark: #141124;
  --color-primary-light: #1e1936;
  --color-secondary: #ff6666;
  --color-tertiary: #098681;
  --grey-light-1: #f7f7f7;
  --grey-light-2: #eee;
  --grey-dark: #777;
  --grey-dark-2: #999;
  --grey-dark-3: #333; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 62.5% * 16px = 10 px */ }

body {
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.nav {
  background-color: #1b1735f5;
  color: #f7f7f7;
  height: 7rem;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  .nav__container {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 110rem;
    margin: 0 auto;
    height: 100%; }
  .nav__logo {
    filter: grayscale(100%);
    align-self: center;
    margin-right: auto;
    height: 4rem;
    width: auto;
    transition: all .3; }
  .nav__logo:hover {
    filter: none; }
  .nav__list {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none; }
  .nav__item {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    width: 20%;
    transition: all .3s;
    color: var(--color-grey-dark-3);
    padding-top: 2.9rem;
    border-top: solid 0 var(--color-secondary);
    cursor: pointer; }
  .nav__item-active {
    padding-top: 2.3rem;
    border-top: solid 0.4rem var(--color-secondary);
    color: white; }
  .nav__item:hover {
    padding-top: 1.7rem;
    border-top: solid 0.4rem var(--color-secondary);
    color: white; }
  .nav__link:link, .nav__link:visited {
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 1.7rem;
    font-family: "Karla", sans-serif;
    justify-self: center;
    color: inherit; }

[class^="btn"]:visited, [class^="btn"]:link {
  padding: 1.5rem 3rem;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .3s;
  letter-spacing: .2rem; }
  [class^="btn"]:visited:hover, [class^="btn"]:link:hover {
    transform: translateY(-1rem) scale(1.03);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3);
    color: #fff; }
  [class^="btn"]:visited:active, [class^="btn"]:link:active {
    transform: translateY(0.2rem) scale(1);
    box-shadow: none; }

.btn--1 {
  color: #f7f7f7;
  background-color: #098681;
  border: solid 1px #f7f7f7; }

.btn--2 {
  color: #1b1735f5;
  font-weight: 500;
  background-color: #ff6666; }

.btn--3 {
  padding: 1rem 3rem;
  font-size: 2rem;
  color: #333;
  background-color: #f7f7f7;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn--3:hover {
    transform: translateY(-0.5rem) scale(1.03);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3); }
  .btn--3:active {
    transform: translateY(0.2rem) scale(1);
    box-shadow: none; }
  .btn--3--active {
    background-color: #ff6666;
    color: #eee; }

.card {
  perspective: 150rem;
  -moz-perspctive: 150rem;
  height: 25rem;
  width: 25rem;
  position: relative;
  font-family: "Karla", sans-serif; }
  .card__side {
    height: 25rem;
    width: 100%;
    transition: all .8s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3); }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: #ff6666; }
  .card__name--front {
    color: #fff;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 2.5rem; }
  .card__name--back {
    font-size: 2.5rem;
    color: #f7f7f7;
    padding: .3rem .5rem; }
  .card__img {
    width: 100%;
    filter: brightness(75%) blur(0.1px); }
  .card__paragraph {
    font-size: 1.5rem;
    padding: .4rem .6rem;
    padding-left: 1rem;
    color: #f7f7f7; }
  .card__btn-live {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-size: 1.8rem;
    padding: .4rem .6rem;
    padding-left: 1rem;
    color: #f7f7f7;
    cursor: pointer;
    transition: all .2s; }
    .card__btn-live:hover {
      letter-spacing: .3rem;
      text-decoration: underline; }
    .card__btn-live--disabled {
      text-decoration: line-through;
      color: #777; }
      .card__btn-live--disabled:hover {
        letter-spacing: 0;
        text-decoration: line-through; }
  .card__label {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 1.6rem;
    bottom: 4rem;
    right: 0;
    display: none; }
  .card__btn-live--disabled:hover ~ .card__label {
    display: block; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.title {
  position: absolute;
  top: 25%;
  left: 15%; }
  .title__secondary {
    font-size: 2rem;
    font-family: 'Karla', sans-serif;
    color: #999; }
  .title__main {
    color: #ff6666;
    font-size: 11rem;
    line-height: 10rem; }
  .title__text {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.5rem; }
    .title__text span {
      display: block; }

.text-box__sub-header::before {
  content: "";
  padding: 1px 2rem;
  padding-bottom: 0rem;
  border-top: solid #ff6666 3px;
  position: absolute;
  top: 2.5rem;
  left: -5rem; }

.text-box__sub-header {
  font-size: 3rem;
  position: relative;
  margin-left: 5rem;
  color: #eee; }

.text-box__paragraph {
  font-size: 2rem;
  color: #999; }
  .text-box__paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.section-header__border {
  border-left: solid .9rem #ff6666;
  height: 4.6rem;
  display: block;
  margin-top: 2.7rem;
  margin-left: 25%; }
  .section-header__border--port {
    margin-left: 10%; }

.section-header__title {
  font-size: 6rem;
  color: #f7f7f7;
  padding-left: 1.5rem; }

.header {
  height: 100vh;
  background-image: linear-gradient(to bottom, #1b1735f5, #141124);
  position: relative;
  z-index: 2; }
  .header__developer {
    font-size: 15rem;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: rgba(247, 247, 247, 0.03);
    transform: rotate(-90deg);
    position: absolute;
    top: 26rem;
    left: -25rem;
    cursor: default; }
  .header__developer span:hover {
    color: rgba(247, 247, 247, 0.06); }
  .header__obj {
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; }
  .header__obj:hover {
    -webkit-filter: brightness(70%); }

.about {
  background-image: linear-gradient(to bottom, #141124, #1e1936ef);
  position: relative;
  padding-bottom: 10vh;
  z-index: 0; }
  .about__obj {
    position: absolute;
    bottom: -25rem;
    right: 0;
    opacity: .1;
    width: 50%; }
  .about__header {
    display: flex;
    justify-content: center; }
  .about__main {
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    width: 100%;
    justify-content: space-around; }
  .about__portrate {
    height: 45rem;
    border-radius: 50%;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%); }
  .about__caption {
    margin-top: -3.5rem;
    font-size: 2rem; }
  .about__text-box {
    flex: 0 1 50%; }
  .about__btn {
    padding: 0.7rem 3rem !important;
    margin: 2rem;
    margin-right: 10%;
    position: absolute;
    right: 0; }

.port {
  background-image: linear-gradient(to bottom, #1e1936ef, #1b1735f5);
  padding-top: 15rem;
  padding-bottom: 6rem; }
  .port__header {
    margin-top: 4rem;
    display: flex; }
  .port__intro-box {
    display: flex;
    font-size: 2rem; }
    .port__intro-box p {
      width: 50%;
      margin-left: 10%; }
  .port__btn-box {
    display: flex;
    justify-content: center;
    margin-top: 17rem; }
  .port__btn:not(:last-child) {
    margin-right: 2rem; }
  .port__show {
    margin-top: 13rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

.contact {
  padding-top: 10rem;
  position: relative;
  background-image: linear-gradient(to bottom, #1b1735f5, #322a5a);
  overflow: hidden; }
  .contact__header {
    text-align: center;
    font-size: 7rem;
    color: #ff6666; }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto; }
  .contact__names-box {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center; }
  .contact__input-name {
    width: calc(50% - 1.2rem);
    padding: 1.5rem 1.8rem;
    font-size: 2.4rem;
    font-family: "Karla", sans-serif;
    color: rgba(247, 247, 247, 0.5);
    background-color: transparent;
    border: 1px solid rgba(247, 247, 247, 0.2);
    transition: all .3s; }
    .contact__input-name:not(:last-child) {
      margin-right: 2rem; }
    .contact__input-name:focus {
      outline: none;
      border: 1px solid rgba(247, 247, 247, 0.8);
      transform: scale(1.02);
      color: #f7f7f7; }
  .contact__input {
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1.5rem 1.8rem;
    font-size: 2.4rem;
    font-family: "Karla", sans-serif;
    color: rgba(247, 247, 247, 0.5);
    background-color: transparent;
    border: 1px solid rgba(247, 247, 247, 0.2);
    transition: all .3s; }
    .contact__input:focus {
      outline: none;
      border: 1px solid rgba(247, 247, 247, 0.8);
      transform: scale(1.02);
      color: #f7f7f7; }
  .contact__message {
    width: 100%;
    z-index: 2;
    padding: 1.5rem 1.8rem;
    font-size: 2.4rem;
    font-family: "Karla", sans-serif;
    color: rgba(247, 247, 247, 0.5);
    background-color: transparent;
    border: 1px solid rgba(247, 247, 247, 0.2);
    transition: all .3s; }
    .contact__message:focus {
      outline: none;
      border: 1px solid rgba(247, 247, 247, 0.8);
      transform: scale(1.02);
      color: #f7f7f7; }
  .contact__btn {
    margin: 2rem;
    padding: 2rem 4rem;
    border: none;
    color: #f7f7f7;
    background-color: #ff6666;
    transition: all .2s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    z-index: 2; }
    .contact__btn:hover {
      transform: translateY(-0.2rem) scale(1.03);
      box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3); }
    .contact__btn:active {
      transform: translateY(0.2rem) scale(1);
      box-shadow: none; }
    .contact__btn:focus {
      outline: none;
      transform: translateY(-0.2rem) scale(1.03);
      box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3); }
  .contact__icon-box {
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%; }
  .contact__social-icon {
    position: relative;
    z-index: 2;
    height: 4rem;
    width: 4rem;
    fill: #f7f7f7;
    transition: all .4s; }
    .contact__social-icon--1:hover {
      transform: translateY(-0.5rem);
      fill: url(#insta-gradient); }
    .contact__social-icon--2:hover {
      transform: translateY(-0.5rem);
      fill: url(#linked-gradient); }
    .contact__social-icon--3:hover {
      transform: translateY(-0.5rem);
      fill: url(#git-gradient); }

#insta-gradient {
  width: 0;
  height: 0;
  position: absolute; }

.footer {
  position: relative;
  background-color: #322a5a; }
  .footer__copy {
    text-align: center;
    color: #f7f7f7;
    font-family: "Karla", sans-serif; }
  .footer__obj {
    opacity: .1;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1; }
