<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/mini_prodjects/calculator.css">
    <title>HTML Calculater</title>
</head>
<body>
    <h1>JavaScipt Calculater</h1>
    <div id="calculator-body">
        <div class="row">
            <div class="column" id="calc-display-val">0</div>
        </div>
        <div class="row">
            <div class="calc-btn column" id="calc-clear">AC</div>
            <div class="calc-btn column" id="calc-backspace">&#8676;</div>
            <div class="calc-btn calc-btn-operator column" id="calc-divide">&#247;</div>
        </div>
        <div class="row">
            <div class="calc-btn calc-btn-num column" id="cal-7">7</div>
            <div class="calc-btn calc-btn-num column" id="cal-8">8</div>
            <div class="calc-btn calc-btn-num column" id="cal-9">9</div>
            <div class="calc-btn calc-btn-operator column" id="calc-multiply">x</div>
        </div>
        <div class="row">
            <div class="calc-btn calc-btn-num column" id="cal-4">4</div>
            <div class="calc-btn calc-btn-num column" id="cal-5">5</div>
            <div class="calc-btn calc-btn-num column" id="cal-6">6</div>
            <div class="calc-btn calc-btn-operator column" id="calc-minus">-</div>
        </div>
        <div class="row">
            <div class="calc-btn calc-btn-num column" id="cal-1">1</div>
            <div class="calc-btn calc-btn-num column" id="cal-2">2</div>
            <div class="calc-btn calc-btn-num column" id="cal-3">3</div>
            <div class="calc-btn calc-btn-operator column" id="calc-plus">+</div>
        </div>
        <div class="row">
            <div class="calc-btn calc-btn-num column" id="calc-zero">0</div>
            <div class="calc-btn column" id="calc-decimal">.</div>
            <div class="calc-btn calc-btn-operator column" id="calc-equals">=</div>
        </div>
    </div>
    <script src="scripts/mini_prodjects/calculator.js"></script>
</body>
</html>