<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<title>Talie's Case Converter</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
	<div class="ui container segment" style=" padding: 20px;
    margin-top: 20px;">
		<h1 class="ui header aligned center"><i class="icon code"></i>Case Converter</h1>
		<div class="ui grid">
			<div class="ui form eight wide column">
				<div class="field">
					<h4 class="ui header huge aligned center">Input</h4>
					<textarea id="textInput">snake_case_to_camel_case_example

just_click_convert!</textarea>
					<form action="">
						<div class="ui form">
						  	<div class="inline fields">
						    	<label for="fruit">Input Case:</label>
						    	<div class="field">
							      	<div class="ui radio checkbox">
							        	<input type="radio" value="camelInput" name="input" tabindex="0" class="hidden">
							        	<label>camelCase</label>
							      	</div>
						    	</div>
							    <div class="field">
								    <div class="ui radio checkbox">
									    <input type="radio" value="kebabInput" name="input" tabindex="0" class="hidden">
									    <label>kebab-case</label>
								    </div>
							    </div>
							    <div class="field">
								    <div class="ui radio checkbox">
									    <input type="radio" value="snakeInput" name="input" tabindex="0" class="hidden" checked="checked">
									    <label>snake_case</label>
								    </div>
							    </div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="ui form eight wide column">
				<div class="field">
					<h4 class="ui header huge aligned center">Output</h4>
					<textarea id="textOutput"></textarea>
					<form action="">
						<div class="ui form">
						  	<div class="inline fields">
						    	<label for="fruit">Output Case:</label>
						    	<div class="field">
							      	<div class="ui radio checkbox">
							        	<input type="radio" value="camelOutput" name="output" tabindex="0" class="hidden" checked="checked">
							        	<label>camelCase</label>
							      	</div>
						    	</div>
							    <div class="field">
								    <div class="ui radio checkbox">
									    <input type="radio" value="kebabOutput" name="output" tabindex="0" class="hidden">
									    <label>kebab-case</label>
								    </div>
							    </div>
							    <div class="field">
								    <div class="ui radio checkbox">
									    <input type="radio" value="snakeOutput" name="output" tabindex="0" class="hidden">
									    <label>snake_case</label>
								    </div>
							    </div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="ui aligned center">
				<a href="/" class="ui button secondary" style="color: white;">Back</a>
				<button id="convert" class="ui button" style="color: black;">Convert!</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	<script type="text/javascript" src="scripts/mini_prodjects/caseConverter.js"></script>