<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="stylesheets/mini_prodjects/rgb.css">
    <title>Talie's rgb game</title>
</head>
<body>
	<h1>The Great <br>
	<span id="colorDisplay">RGB</span><br>
	Colour Game</h1>
	<div id="stripe">
		<button id="reset">New Colours</button>
		<span id="message"></span>
		<button class="mode">Easy</button>
		<button class="mode selected" class="selected">Hard</button>
	</div>
	<div class="container">	
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="square"></div>
		<div class="back-button">
			<a href="/"><button> < Back</button></a>
		</div>
	</div>
	
	
	<script type="text/javascript" src="scripts/mini_prodjects/rgb.js"></script>
</body>
</html>