// css
:root {
    // Colors
    --color-primary: #1f1d2c;
    --color-primary-dark: #141124;
    --color-primary-light: #1e1936;
    
    --color-secondary: #ff6666;

    --color-tertiary: #098681;

    --grey-light-1: #f7f7f7;
    --grey-light-2: #eee;

    --grey-dark: #777;
    --grey-dark-2: #999;
    --grey-dark-3: #333;
}

// scss

// Colors
$color-primary: #1b1735f5;
$color-primary-dark: #141124;
$color-primary-light: #1e1936ef;

$color-secondary: #ff6666;

$color-tertiary: #098681;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$primary-font: 'Karla', sans-serif;




