.about {
    background-image: linear-gradient(to bottom, $color-primary-dark, $color-primary-light);
    position: relative;
    padding-bottom: 20rem;
    z-index: 0;

    &__obj{
        position: absolute;
        bottom: -25rem;
        right: 0;
        opacity: .1;
    }

    &__header {
        display: flex;
        justify-content: center;
    }

    // The line next to the "about me" header
    &__header-border {
        border-left: solid .9rem #ff6666;
        height: 4.6rem;
        display: block;
        margin-top: 2.7rem;
        margin-left: 25%;
    }

    &__title {
        font-size: 6rem;
        color: $color-grey-light;
        width: fit-content;
        padding-left: 1.5rem;
    }

    &__main {
        margin: 0 auto;
        margin-top: 10rem;
        display: flex;
        width: 100%;
        justify-content: space-around;
        
    }

    &__portrate {
        height: 45rem;
        border-radius: 50%;
        //defining the outside shape 
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);

    }

    &__caption {
        margin-top: -3.5rem;
        font-size: 2rem;

    }

    &__text-box {
        flex: 0 1 50%;
    }

    &__btn {
        padding: 0.7rem 3rem !important;
        margin: 2rem;
        margin-right: 10%;
        position: absolute;
        right: 0;
    }
}