.contact {
    padding-top: 10rem;
    position: relative;
    background-image: linear-gradient(to bottom, $color-primary, $color-primary-light-1);
    // background-color: $color-primary-light-1;
    overflow: hidden;
    @include respond(phone) {
        padding-top: 5rem;
    }

    &__header {
        text-align: center;
        font-size: 7rem;
        color: $color-secondary;
        @include respond(phone) {
            font-size: 5.5rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        @include respond(phone) {
            width: 90%;
        }
    }

    // first and second names in the name box
    // and have input-name class
    &__names-box {
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        @include respond(phone) {
            display: block;
        }
    }

    &__input-name {
        width: calc(50% - 1.2rem);
        padding: 1.5rem 1.8rem;
        font-size: 2.4rem;
        font-family: $primary-font;
        color: rgba($color-grey-light, $alpha: .5);
        background-color: transparent;
        border: 1px solid rgba($color-grey-light, $alpha: .2);
        transition: all .3s;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &:focus {
            outline: none;
            border: 1px solid rgba($color-grey-light, $alpha: .8);
            transform: scale(1.02);
            color: $color-grey-light;
        }

        @include respond(phone) {
            width: 100%;
            margin-top:2rem;
        }
    }

    // the rest of the inputs
    &__input {
        flex: 0 0 100%;
        width: 100%;
        margin-bottom: 2rem;

        padding: 1.5rem 1.8rem;
        font-size: 2.4rem;
        font-family: $primary-font;
        color: rgba($color-grey-light, $alpha: .5);
        background-color: transparent;
        border: 1px solid rgba($color-grey-light, $alpha: .2);
        transition: all .3s;
        
        &:focus {
            outline: none;
            border: 1px solid rgba($color-grey-light, $alpha: .8);
            transform: scale(1.02);
            color: $color-grey-light;
        }
    }

    &__message {
        width: 100%;
        z-index: 2;
        padding: 1.5rem 1.8rem;
        font-size: 2.4rem;
        font-family: $primary-font;
        color: rgba($color-grey-light, $alpha: .5);
        background-color: transparent;
        border: 1px solid rgba($color-grey-light, $alpha: .2);
        transition: all .3s;
        
        &:focus {
            outline: none;
            border: 1px solid rgba($color-grey-light, $alpha: .8);
            transform: scale(1.02);
            color: $color-grey-light;
        }
    }

    &__btn {
        margin:  2rem;
        padding: 2rem 4rem;
        border: none;
        color: $color-grey-light;
        background-color: $color-secondary;
        transition: all .2s;
        box-shadow: $basic-shadow;
        z-index: 2;
        &:hover {
            transform: translateY(-.2rem) scale(1.03);
            box-shadow: $dark-shadow;
        }
        &:active {
            transform: translateY(.2rem) scale(1);
            box-shadow: none;
        }
        &:focus {
            outline: none;
            transform: translateY(-.2rem) scale(1.03);
            box-shadow: $dark-shadow;

        }
        // width: 100%;
    }

    &__icon-box {
        margin: 4rem auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 20%;
        @include respond(phone) {
            width: 90%;
        }
    }

    &__social-icon {
        position: relative;
        z-index: 2;
        height: 4rem;
        width: 4rem;
        fill: $color-grey-light;
        transition: all .4s;
        &--1:hover {
            transform: translateY(-.5rem);
            fill: url(#insta-gradient)
        }
        &--2:hover {
            transform: translateY(-.5rem);
            fill: url(#linked-gradient)
        }
        &--3:hover {
            transform: translateY(-.5rem);
            fill: url(#git-gradient)
        }
    }
}

#insta-gradient {
    width: 0;
    height: 0;
    position: absolute;
}
