.footer {
    position: relative;
    background-color: $color-primary-light-1;
    &__icon-box {
        
    }

    &__social-icon {

    }

    &__copy {
        text-align: center;
        color: $color-grey-light;
        font-family: $primary-font;

    }

    // background object
    &__obj {
        opacity: .1;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}
