.header {
    height: 100rem;
    background-color: $color-primary-dark;
    position: relative;
    overflow: hidden;
    &__developer {
        font-size: 15rem;
        font-family: $developer-font;
        letter-spacing: .3rem;
        text-transform: uppercase;
        color: rgba($color-grey-light, .03);
        transform: rotate(-90deg);
        position: absolute;
        top: 26rem;
        left: -25rem;
        cursor: default;
    }
    &__developer span:hover {
        color: rgba($color-grey-light, .06);
    }
    &__obj {
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__obj:hover {
        -webkit-filter: brightness(70%); 
    }
}