.port {
    background-image: linear-gradient(to bottom, $color-primary-light, $color-primary);
    padding-top: 15rem;
    padding-bottom:6rem;

    &__header {
        margin-top: 4rem;
        display: flex;
    }

    &__intro-box {
        display: flex;
        font-size: 2rem;
        p {
            width: 50%;
            margin-left: 10%;
        }
    }

    &__btn-box {
        display: flex;
        justify-content: center;
        margin-top: 17rem;
    }

    &__btn {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__show {
        margin-top: 13rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}