[class^="btn"] {
    &:visited, &:link {
        padding: 1.5rem 3rem;
        font-family: $primary-font;
        font-size: 2rem;
        text-decoration: none;
        display: inline-block;
        box-shadow: $basic-shadow;
        transition: all .3s;
        letter-spacing: .2rem;
        @include respond(tab-port) {
            padding: .8rem 2rem;
        }
        &:hover {
            transform: translateY(-1rem) scale(1.03);
            box-shadow: $dark-shadow;
            color: #fff;
        }
        &:active {
            transform: translateY(.2rem) scale(1);
            box-shadow: none;
        }
    }
}
.btn {
    // header button
    &--1 {
        color: $color-grey-light;
        background-color: $color-tertiary;
        border: solid 1px $color-grey-light;
        
    }

    // About btn
    &--2 {
        color: $color-primary;
        font-weight: 500;
        background-color: $color-secondary;
    }

    // portfolio sort
    &--3 {
        padding: 1rem 3rem;
        font-size: 2rem;
        color: $color-grey-dark-3;
        background-color: $color-grey-light;
        font-family: $primary-font;
        font-weight: 600;
        cursor: pointer;
        transition: all .2s;
        box-shadow: $basic-shadow;
        &:hover {
            transform: translateY(-.5rem) scale(1.03);
            box-shadow: $dark-shadow;
        }
        &:active {
            transform: translateY(.2rem) scale(1);
            box-shadow: none;
        }
        @include respond(tab-lan) {
            padding: .8rem 2.5rem;
            font-size: 1.5rem;
        }

        &--active {
            background-color: $color-secondary;
            color: $color-grey-light-2;
        }
    }
}
