.card {
    perspective: 150rem;
    -moz-perspctive: 150rem;
    height: 25rem;
    width: 25rem;
    position: relative;
    font-family: $primary-font;
    opacity: 1;
    // overflow: hidden;
    margin-right: 3rem;
    margin-top: 3rem;
    @include respond(tab-port-no-hover) {
        margin-top: 27rem;
        height: 20rem;
        width: 25rem;
    }
    @include respond(phone) {
        width: 80%;
        margin-top: 23rem;
    }
    

    // side styling
    &__side {
        height: 25rem;
        width: 100%;
        transition: all .8s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        overflow: hidden;
        box-shadow: $dark-shadow;
        border-radius: 1%;
        @include respond(tab-port-no-hover) {
            height: 20rem;
        }
        &--front {
            @include respond(tab-port-no-hover) {
                border-radius: 1% 1% 0 0;
            }
        }
        &--back {
            transform: rotateY(180deg);
            background-color: $color-secondary;
            @include respond(tab-port-no-hover) {
                transform: rotateY(0);
                top: 100%;
            }
            @include respond(tab-port-no-hover) {
                border-radius: 0 0 1% 1%;
            }
        }
    }
    // name styling
    &__name {
        &--front {
            color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            font-size: 2.5rem;
            background-color: $color-secondary;
            width: 100%;
            @include respond(tab-port-no-hover) {
                display: none;
            }            
        }

        &--back {
            font-size: 2.5rem;
            color: $color-grey-light;
            padding: .3rem .5rem;
            @include respond(tab-port-no-hover) {
                font-size: 1.8rem;
            }
        }
    }

    // front side only
    &__img {
        width: 100%;
        filter: blur(.1px);
    }

    // back side only
    &__paragraph {
        font-size: 1.5rem;
        padding: .4rem .6rem;
        padding-left: 1rem;
        color: $color-grey-light;
        @include respond(tab-port-no-hover) {
            font-size: 1.3rem;
        }
    }

    &__btn-live {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        font-size: 1.8rem;
        padding: .4rem .6rem;
        padding-left: 1rem;
        color: $color-grey-light;
        cursor: pointer;
        transition: all .2s;
        &:hover {
            letter-spacing: .3rem;
            text-decoration: underline;
        }
        &--disabled {
            text-decoration: line-through;
            color: $color-grey-dark;
            background-color: transparent;
            border: none;

            &:hover, &:active, &:focus {
                letter-spacing: 0;
                text-decoration: line-through;
                outline: none;
            }
    
        }
        
    }

    // label for disabled live button
    &__label {
        position: absolute;
        background-color: red;
        color: white;
        font-size: 1.6rem;
        bottom: 4rem;
        right: 0;
        display: none;
        @include respond(tab-port-no-hover) {
            font-size: 1.4rem;
        }
    }

    &__btn-live--disabled:hover ~ &__label, &__btn-live--disabled:active ~ &__label {
        display: block;
    }
    // hover flip animation
    &:hover &__side--front {
        transform: rotateY(-180deg);
        @include respond(tab-port-no-hover) {
            transform: rotateY(0);
        }
    }
    &:hover &__side--back {
        transform: rotateY(0);
        @include respond(tab-port-no-hover) {
            transform: rotateY(0);
        }
    }

    transition: opacity 2s;
    opacity: 1;
    &-fade {
        opacity: 0;
    }
}