.title {
    position: absolute;
    top: 25%;
    left: 15%;
    @include respond(tab-lan) {
        left: 15%;
    }

    &__secondary {
        font-size: 2rem;
        font-family: 'Karla', sans-serif;
        color: $color-grey-dark-2;
        @include respond(big-desk) {
            font-size: 4rem;
        }
    }

    &__main {
        color: $color-secondary;
        font-size: 12rem;
        line-height: 9rem;
        @include respond(big-desk) {
            font-size: 14rem;
        }
        @include respond(tab-port) {
            font-size: 9rem;
            line-height: 7rem;
        }
        @include respond(phone) {
            font-size: 6rem;
            line-height: 5rem;
        }
    }

    &__text {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 2.5rem;
        @include respond(big-desk) {
            font-size: 4.5rem;
        }
        @include respond(tab-lan) {
            font-size: 2rem;
            margin-top: 2rem;
        }
        @include respond(tab-port) {
            font-size: 1.5rem;
            margin-top: 1.5rem;
        }
        span {
            display: block;
        }
    }

    &__btn {
        // pointer-events: none;
    }
}